@define-color foreground #c5c4c3;
@define-color background #1a1310;
@define-color cursor #c5c4c3;

@define-color color0 #1a1310;
@define-color color1 #5A966B;
@define-color color2 #BB986E;
@define-color color3 #4C70BA;
@define-color color4 #847E93;
@define-color color5 #6A94B3;
@define-color color6 #A49E9C;
@define-color color7 #c5c4c3;
@define-color color8 #70625c;
@define-color color9 #5A966B;
@define-color color10 #BB986E;
@define-color color11 #4C70BA;
@define-color color12 #847E93;
@define-color color13 #6A94B3;
@define-color color14 #A49E9C;
@define-color color15 #c5c4c3;
